html {
  font-size: 10px;
}

body {
  font-family: "Dosis", sans-serif;
  overflow: hidden;
  background: #f3f0ff;
}

h1,
p {
  text-align: center;
}

.heading {
  font-size: 6.4rem;
  padding-top: 2rem;
  margin: 0;
  margin-bottom: 2rem;
}

.guidance {
  font-size: 1.6rem;
  margin-bottom: 4.5rem;
}

/* Opening modal buttons  */
.btns {
  display: grid;
  grid-template-columns: repeat(1, auto);
  justify-content: center;
  gap: 0.7rem;
}

.show-modal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5rem;
  padding: 0 2.5rem;
}

.show--modal-1 {
  background-color: #7eb6fb;
}

.show--modal-2 {
  background-color: #ff585f;
}
.show--modal-3 {
  background-color: #9be15d;
}
.show--modal-4 {
  background-color: #ffb003;
}

/* Modals */
.modals {
  width: 60%;
  margin: 0 auto;
}

.modals > div {
  text-align: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff0f6;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.05);
  border-radius: 0.7rem;
  padding: 5rem;
  z-index: 10;
}

.modal--1 {
  background-color: rgba(154, 192, 239, 0.9);
}
.modal--2 {
  background-color: rgba(249, 124, 130, 0.9);
}
.modal--3 {
  background-color: rgba(192, 235, 117, 0.9);
}
.modal--4 {
  background-color: rgba(255, 192, 120, 0.9);
}

.modal-heading {
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

.modal-description {
  font-size: 1.4rem;
  margin-bottom: 2.8rem;
}

.input-field {
  width: auto;
  text-align: center;
  font-size: 1.6rem;
  border: 0.3rem solid#dbe4ff;
  border-radius: 5rem;
  padding: 0.3rem 0.6rem;
  margin-bottom: 1rem;
}

.btn-submit {
  display: inline-block;
  font-size: 1.4rem;
  color: #fff;
  padding: 0.3rem 0.6rem;
  border: 0.2rem solid #dbe4ff;
  border-radius: 5rem;
}

.result {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 0;
}

/* Close modal buttons */

.close-modal-1,
.close-modal-2,
.close-modal-3,
.close-modal-4 {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.45);
  background-color: transparent;
  border: none;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(1.5px);
  width: 100%;
  height: 100%;
  z-index: 5;
}

/* Footer */
footer {
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  opacity: 0.4;
}
